<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>택배맨 - 택배 추적 관리 서비스</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          th:href="@{/css/external/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">택배맨📦</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" id="loginBtnContainer">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
            </li>
            <li class="nav-item d-none" id="userContainer">
                <span class="navbar-text" id="userName">User</span>
                <button class="btn btn-outline-secondary ms-2" id="logoutBtn">Logout</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>택배맨📦</h1>
            <table class="table">

                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">택배 상품</th>
                    <th scope="col">택배사</th>
                    <th scope="col">운송장번호</th>
<!--                    <th scope="col">노출</th>-->
                    <th scope="col"></th>
                </tr>
                </thead>

<!--                TODO: delivery model 변수로 뿌려주기-->
                <tbody id="tableBody">
                <tr th:each="delivery : ${deliveries}">
                    <td><p class="deliveryId" th:text="${delivery.id}"></p></td>
                    <td><p class="deliveryTitle" th:text="${delivery.title}"></p></td>
                    <td><p class="deliveryCompanyId" th:text="${delivery.deliveryCompanyId}" th:attr="data-deliverycompanyid=${delivery.deliveryCompanyId}"></p></td>
                    <td><p class="deliveryNumber" th:text="${delivery.deliveryNumber}"></p></td>
<!--                    <td>-->
<!--                        <select class="form-select">-->
<!--                            <option value="Visible">Visible</option>-->
<!--                            <option value="Hidden">Hidden</option>-->
<!--                        </select>-->
<!--                    </td>-->
                    <td>
                        <button class="btn btn-outline-primary btn-sm connectDeliveryButton">운송장 조회</button>
                        <button class="btn btn-outline-success btn-sm openDeliveryEditModalButton" data-bs-toggle="modal" data-bs-target="#editModal">수정</button>
                        <button class="btn btn-outline-danger btn-sm deleteDeliveryButton">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button id="addDelivery" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#saveModal">+ 추가</button>
            <div class="mt-3 alert alert-secondary" role="alert">
                현재 CJ대한통운만 이용 가능합니다.
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="form-group mb-3">
                        <label for="loginId">ID</label>
                        <input type="text" class="form-control" id="loginId" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" id="loginPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="mt-3">
                        <a href="signup.html">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 저장 모달(Modal) -->
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="saveForm">
                    <div class="form-group mb-3">
                        <label for="saveDeliveryTitle">상품명</label>
                        <input type="text" class="form-control" id="saveDeliveryTitle" required>
                    </div>
                    <!-- todo: db에서 읽어온 후 타임리프 for 루프로 노출-->
                    <div class="form-group mb-3">
                        <label for="saveDeliveryCompanyId">택배사</label>
                        <select class="form-select" id="saveDeliveryCompanyId">
                            <option value="0">택배사 선택</option>
                            <option value="1">CJ대한통운</option>
                            <option value="2">우체국택배</option>
                            <option value="3">로젠택배</option>
                            <option value="4">한진택배</option>
                            <option value="5">롯데택배</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="saveDeliveryNumber">운송장번호</label>
                        <input type="text" class="form-control" id="saveDeliveryNumber" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="saveDelivery">저장</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">취소</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 수정 모달(Modal) -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="form-group mb-3">
                        <label for="editDeliveryTitle">상품명</label>
                        <input type="text" class="form-control" id="editDeliveryTitle" required>
                    </div>
                    <!-- todo: db에서 읽어온 후 타임리프 for 루프로 노출-->
                    <div class="form-group mb-3">
                        <label for="editDeliveryCompanyId">택배사</label>
                        <select class="form-select" id="editDeliveryCompanyId">
                            <option value="0">택배사 선택</option>
                            <option value="1">CJ대한통운</option>
                            <option value="2">우체국택배</option>
                            <option value="3">로젠택배</option>
                            <option value="4">한진택배</option>
                            <option value="5">롯데택배</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="editDeliveryNumber">운송장번호</label>
                        <input type="text" class="form-control" id="editDeliveryNumber" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="editDelivery">수정</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">취소</button>
                    <input type="hidden" id="editDeliveryId">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 토스트 알림 : 문구만 바꿔서 재활용 예정-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="saveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            저장 완료
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/js/external/jquery-3.7.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" th:src="@{/js/external/bootstrap.bundle.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>
